// most of the colors come from https://clrs.cc/, this is a great resource
$navy:#001f3f;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$maroon: #85144b;
$fuchsia: #F012BE;
$purple: #B10DC9;
$black: #111111;
$gray: #AAAAAA;
$darkgray: #777777;
$silver: #DDDDDD;
$white: #FFFFFF;