// This file contains all css code related to the navbar
// The design needed in the view is simply: body { nav, main }
// The nav bar will be visible on the left side in wider screens,
// and in small screens the main will be set to fullscreen, and
// you can scroll the navbar back on screen.

nav {
  display: inline-block;
  box-sizing: border-box;
  height: 100vh;
  width: 240px;
  overflow: scroll;
  padding: 1.5rem 0 4rem 0;
  list-style: none;
  border-right: lightgrey 1px solid;

  * {
    padding-left: 10px;
  }
  .btn-nav {
    position: absolute;
    left: 240px;
    top: 50%;
    padding: 20px;
    padding-left: 10px;
    img {
      padding: 0;
      width: 30px;
      filter: opacity(50%);
    }
  }

  .nav_title {
    font-weight: bold;
    a {
      display: block;
      color: #333;
      text-decoration: none;
      font-size: 1.5rem;
    }
  }

  .nav_category {
    color: #777;
  }
  li + .nav_category {
    margin-top: 10px;
  }

  .nav_report_link {
    &.active {
      border-right: #FF851B solid 5px;
      color: #222;
      font-weight: 600;
      background-color: #f3f3f3;
    }
    padding-right: 10px;
    padding-left: 20px;
    &:hover {
      background-color: #f3f3f3;
    }
    a {
      text-decoration: none;
      display: block;
      color: #111;
    }
  }
  a {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
  }
}

main {
  overflow-y: scroll;
  overflow-x: visible;
  height: 100vh;

  display: inline-block;
}

@media (max-width: 880px) {
  body {
    width: calc(240px + 100vw);
    overflow-x: scroll;
  }
  main {
    width: 100vw;
  }
}

@media (min-width: 881px) {
  main {
    width: calc(100% - 240px);
  }
}