@import 'variables';

.report {
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 8rem;
  width: 80%;
  max-width: 600px;
  text-align: center;

  p {
    text-align: left;
  }
  &> * {
    margin-top: 2rem;
  }
  li {
    margin-bottom: 0.5rem;
    text-align: left;
  }
  img {
    max-width: 100%;
  }
  .multiple-photos > * {
    padding: 2px;
    box-sizing: border-box;
    display: inline-block;
  }
  .caption {
    color: $darkgray;
    margin-top: 1rem;
  }

  // This wrapper is a hack to get videos with responsive 16:9 dimensions
  .video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .bank-details {
    ul {
      margin: 0;
    }
    li {
      margin: 0;
      margin-left: 10px;
      list-style: none;
    }
  }
}