@import "variables";

.report {
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 0rem;
  width: 80%;
  max-width: 600px;
  text-align: center;

  p {
    text-align: left;
  }
  & > * {
    margin-top: 2rem;
  }
  li {
    margin-bottom: 0.5rem;
    text-align: left;
  }
  img {
    max-width: 100%;
  }
  .multiple-photos > * {
    padding: 2px;
    box-sizing: border-box;
    display: inline-block;
  }
  .caption {
    color: $darkgray;
    margin-top: 1rem;
  }
  .quote {
    color: #999;
    font-size: 1.2em;
    font-style: italic;
    padding-left: 1.2em;
    border-left: 1px solid #aaa;
    font-family: serif;
  }
  video {
    max-width: 100%;
  }

  // This wrapper is a hack to get videos with responsive 16:9 dimensions
  .video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .local-video {
    position: relative;
    max-width: 600px;
    width: 100%;
  }

  .bank-details {
    ul {
      margin: 0;
    }
    li {
      margin: 0;
      margin-left: 10px;
      list-style: none;
    }
  }

  .archive_list-item {
    margin: 0 auto;
    list-style: none;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    max-width: 500px;
    a {
      display: block;
      position: relative;
      width: 100%;
      padding: 8px 8px;
      text-decoration: none;
      color: #333;
      font-weight: 500;
      &:hover {
        background-color: #ddd;
      }
      &::after {
        position: absolute;
        display: block;
        border: 10px solid transparent;
      }
    }
  }
}
