.report {
  margin: auto;
  padding-top: 4rem;
  width: 600px;
  text-align: center;

  p {
    text-align: left;
  }
  &> * {
    margin-top: 2rem;
  }

  .caption {
    color: #777;
    margin-top: 1rem;
  }
}